{% extends "base.html" %}
{% load static %}

{% block page_content %}
<section class="cta-section theme-bg-light py-3">
<h2>{{ project.title }}</h2>
<div class="row">
    <div class="col-md-8">
        <img src="{% static project.image %}" alt="" width="80%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
    </div>
</div>
</section>
{% endblock %}

